*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url("logo_icbf2.jpg");
}
form{
   	width: 500px;
	height: 100%;
	background: #58FA82;
	margin-top: -20px;
	padding: 30px;
	border-radius: 0px 100px;
}
#img{
	width: 110px;
	margin-top: -130px;
	margin-left: 20px;
}